/*===================== Theme 1 =====================*/
.requestTax-button-theme-1 {
  cursor: pointer;
	background-image: linear-gradient(to right, #6cfdcc 0%, #5a89f9 100%);
	border-radius: 40px;
  box-sizing: border-box;
	color: #113B55;
	display: block;
	font: 1.125rem 'Montserrat', Arial, sans-serif; /*18*/
  font-weight: bold;
	height: 60px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 3px;
	position: relative;
  text-decoration: none;
	width: 240px;
	z-index: 2;
}
.requestTax-button-theme-1:hover {
	color: #113B55;
}
.requestTax-button-theme-1 span {
	align-items: center;
	background: #ffffff;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}
.requestTax-button-theme-1:hover span {
	background: transparent;
}

/*===================== Theme 2 =====================*/
.requestTax-button-theme-2 {
  cursor: pointer;
	background-image: linear-gradient(to right, #6cfdcc 0%, #5a89f9 100%);
	border-radius: 2px;
  box-sizing: border-box;
	color: #113B55;
	display: block;
	font: 1.125rem 'Montserrat', Arial, sans-serif; /*18*/
  font-weight: bold;
	height: 60px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 3px;
	position: relative;
  text-decoration: none;
	width: 240px;
	z-index: 2;
}
.requestTax-button-theme-2:hover {
	color: #113B55;
}
.requestTax-button-theme-2 span {
	align-items: center;
	background: #ffffff;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}
.requestTax-button-theme-2:hover span {
	background: transparent;
}

/*===================== Theme 3 =====================*/
.requestTax-button-theme-3 {
  cursor: pointer;
	background-image: linear-gradient(to right, #6cfdcc 0%, #5a89f9 100%);
	border-radius: 2px;
  box-sizing: border-box;
	color: #113B55;
	display: block;
	font: 1.125rem 'Montserrat', Arial, sans-serif; /*18*/
  font-weight: bold;
	height: 60px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 3px;
	position: relative;
  text-decoration: none;
	width: 240px;
	z-index: 2;
}
.requestTax-button-theme-3:hover {
	color: #113B55;
}
.requestTax-button-theme-3 span {
	align-items: center;
	background: #ffffff;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}
.requestTax-button-theme-3:hover span {
	background: transparent;
}

/*===================== Theme 4 =====================*/
// square, logo right side, dark blue backgroud, white text
.requestTax-button-theme-4 {
  cursor: pointer;
	background-image: linear-gradient(to right, #6cfdcc 0%, #5a89f9 100%);
	border-radius: 2px;
  box-sizing: border-box;
	color: #ffffff;
	display: block;
	font: 1.125rem 'Montserrat', Arial, sans-serif; /*18*/
  font-weight: bold;
	height: 60px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 2px;
	position: relative;
  text-decoration: none;
	width: 240px;
	z-index: 2;
}
.requestTax-button-theme-4:hover {
	color: #113B55;
}
.requestTax-button-theme-4 span {
	align-items: center;
	background: #113B55;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}
.requestTax-button-theme-4:hover span {
	background: transparent;
}

/*===================== Theme 5 =====================*/
// square, logo left side, dark blue backgroud, white text
.requestTax-button-theme-5 {
  cursor: pointer;
	background-image: linear-gradient(to right, #6cfdcc 0%, #5a89f9 100%);
	border-radius: 2px;
  box-sizing: border-box;
	color: #ffffff;
	display: block;
	font: 1.125rem 'Montserrat', Arial, sans-serif; /*18*/
  font-weight: bold;
	height: 60px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 2px;
	position: relative;
  text-decoration: none;
	width: 240px;
	z-index: 2;
}
.requestTax-button-theme-5:hover {
	color: #113B55;
}
.requestTax-button-theme-5 span {
	align-items: center;
	background: #113B55;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}
.requestTax-button-theme-5:hover span {
	background: transparent;
}
